
body{
    font-family: 'Lato', sans-serif;
}
/* banner styles */
.banner{
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
    justify-content: space-between;
    margin-bottom: 178px;
}

.banner-text{
    flex-direction: row;
}
.bnr-header{
    width: 708px;
    height: 288px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;

    
    font-weight: 800;
    padding-top: 90px;
    padding-right: 97px;
    padding-bottom:  0px;
    padding-left:  240px;
    
}
.bnr-gratings{
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    
    font-weight: 400;
    line-height: 30px;
    padding: 0px 171px 32px 240px;
}
.banner-img{
    padding-top: 50px;
    padding-right: 240px;

}
.btn-primary{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.btn-primary{
    height: 64px;
    border-radius: 8px;
    background-color: #E55473;
    font-style: normal;
}
#shop-now{
    width: 177px;
    margin: 0px 628px 147px 240px;
    font-style: normal;
    
    
}
/* flower section styles */


    
   

.section-header{
    color: #272727;
   
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    
    text-align: center;
   
    
    
}
#flowers{
    padding: 0 764px 20px 764px;
    width: 450px;
    height: 48px;
}
#flower-para{
  
    text-align: center;
    padding: 0 663px 20px 663px;
}
.section-description{
    width: 594px;
    height: 60px;
    
    color: rgba(39, 39, 39, 0.60);
    
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    
    
}
.flower-details{
    
    text-align: justify;

}
.section-img{
    display: flex;
    gap: 24px;
    
    /* justify-content: space-around; */
    list-style: none;
    text-decoration: underline;

}
.png6{
    width: 310px;
    height: 428px;
    margin: 48px 24px 32px 240px;
    padding: 110px 78px 0px 75px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    }
.png5{
    
    width: 370px;
    height: 370px;
    margin: 48px 24px 32px 0px;
    padding: 117px 47px 51px 47px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);


}
.png7{
    width: 314px;
    height: 471px;
    margin: 48px 240px 32px 0px;
    background-color: ;
    padding: 67px 75px 0px 75px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    


}
.flower-container{
   
   max-width: 1920px;
}
.foul{
    text-align: center;
    justify-content: space-around;
    align-items: baseline;
}

/* nav related styles */


.nav-container{
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    max-width: 1500px;
    max-height: 320px;
    
    margin: 128px 240px;
    align-items: center;
    justify-content: space-around;
    
}
ul{
    text-align: center;
    list-style: none;
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    
}
#delivery-man{
    height: 35px;
    width: 372px;
  


}
#local-growers{
   width: 316px;
   height: 35px;
 

  

}
#support{
    height: 35px;
    width: 202px;
}
.flower-asset > img{
 size: 88px 88px;
}
/* complete flowewr  shop styles */

.dealing-container{
    display: flex;
    max-height: 620px;
    max-width: 1922px;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    margin-bottom: 128px;
    justify-content: space-around;
    
}
#dealing-section-header{
    width: 537px;
    height: 48px;
    padding: 230px 215px 0px 423px;
    
}
#dealing-section-description{
   
    padding: 2px 186px 52px 395px;

}
#sign-up{
    margin-bottom: 162px;
    margin: 0px 405px 162px 600px;
    padding: 20px 43px;
}
.section-details{
    text-align: center;
}
#png8{
    width: 318px;
    height: 420px;
    padding: 100px 434px 100px 0px;
}
/* instagram container styles */

.ins-sec-img{
    display: flex; 
    gap: 24px; 
    align-items: center; 
    
}
#Instagram-description{
    padding: 0px 663px 0px 663px;
}
#Instagram-sec-details{
    text-align: center;
}
#Instagram-sec-header{
    width: 180px;
    height: 48px;
    padding: 128px 870px 0px 870px;
}
.ins-sec-img{
    display: flex;
    padding-left: 240px;
    padding-right: 240x;
    
}

#flower-1{
    width: 342px;
    height: 396px;
 

}
#Rectangle-4{
    width: 342px;
    height: 396px;
}
#Rectangle-5{
    width: 342px;
    height: 396px;
}
#Rectangle-6{
    width: 342px;
    height: 396px;
    
}
.ins-sec-img{
  padding-left: 240px;
  padding-right: 240px;
}
/* complete instagram section */
/* subscribe section style */

.latest-deals{
    height: 449px;
    width: 1440px;
    background-image: url(../flower-shop-website/Flower\ Asset/rectangle9.png);
    background-repeat: no-repeat;
    margin-left: 240px;
    margin-right: 239px;
   
    


}
/* .latest-deals-details{
    text-align: center;
} */

#latest{
    height: 30px;
    width: 231px;
    padding-right: 605px;
    padding-left: 604px;
}
#latest-deals-header{
    height: 48px;
    width: 370px;
    padding: 100px 533px 0px 533px;
}

.input{
    display: flex;
    
    align-items: center;
    justify-content: space-around;
}


/* footer section stles */

.footer-container{
    height: 449px;
    width: 1922px;
    background-color:  #111010;
    text-align: center;
    
}
.footer-header{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    padding: 70px 832px 0px 831px;
}
span{
    color: wheat;
}
.footer-description{
    text-align: center;
    color: rgba(255, 255, 255, 0.90);
    width: 625px;
    height: 60px;
    padding: 0px 648px 32px 649px;
}
.copyright{
    height: 19px;
    width: 355px;
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding: 0px 783px 128px 784px;
}

    







